$accent-purple: #d895ee;
$accent-pink: #ee95d2;

$bg0: #151515;
$bg1: #505050;

$fg0: #d8d0d5;
$fg1: #909090;

$red: #ee9598;
$orange: #e8b197;
$yellow: #e8d097;
$green: #9be099;
$cyan: #97d0e8;
$blue: #979ae8;
$purple: #ca97e8;

$dim-red: #c76f72;
$dim-orange: #c18b72;
$dim-yellow: #c1a972;
$dim-green: #77b975;
$dim-cyan: #72a9c1;
$dim-blue: #7275c1;
$dim-purple: #a372c1;
