---
import Layout from "@layouts/Page.astro";

import Friends from "@components/Friends.astro";
import Projects from "@components/Projects.astro";
import Pronouns from "@components/Pronouns.astro";
---

<Layout>
  <section>
    <h1 id="intro">~fawn <Pronouns /></h1>
    <p>
      Hi, i'm fawn! a self-taught software developer with a passion for open
      source software. My favorite flowers are tulips 🌷.
    </p>
  </section>

  <section>
    <h2 id="links">links</h2>
    <p>Where to catch a wild fawn!</p>
    <ul>
      <li>
        Codeberg: <a href="https://codeberg.org/fawn" target="_blank">@fawn</a>
      </li>
      <li>
        Github: <a href="https://github.com/fawni" target="_blank">@fawni</a>
      </li>
      <li>
        Last.fm: <a
          href="https://www.last.fm/user/aokiare"
          target="_blank"
        >aokiare</a>
      </li>
      <li>
        Letterboxd: <a
          href="https://letterboxd.com/fawwn"
          target="_blank"
        >fawwn</a>
      </li>
    </ul>
  </section>

  <section>
    <h2 id="projects">projects</h2>
    <p>
      My personal projects are scattered all over codeberg and github. Sometimes
      i like to contribute to other people's projects too!<br />
      I love writing tiny pretty programs and re-inventing the wheel :3
    </p>
    <Projects />
  </section>

  <section>
    <h2 id="friends">friends</h2>
    <Friends />
  </section>
</Layout>
