::selection {
  background-color: #eb99a1;
  color: #d9d8dc;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

li {
  word-wrap: break-word;
}

br,
img {
  user-select: none;
}

.banner img {
  image-rendering: pixelated;
}

.banner:hover {
  border-bottom: none;
}

#mascot img {
  max-width: 350px;
  width: 45vw;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  margin-right: 30px;
}

a:visited {
  color: #eb99a1;
}

a:visited:hover {
  color: #da4453;
}
