---

---

<footer>
  <p>
    Copyright (c) 2024 fawn
    <span class="seperator">♡</span>
    <a href="https://codeberg.org/fawn/fawn.moe">Source code</a>
  </p>
</footer>

<style lang="scss">
@use "@styles/_thorns.scss";

footer {
  font-family: "Sarasa Mono J";
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 0.85rem;
}

.seperator {
  color: thorns.$red;
}
</style>
