---
import { Image } from "astro:assets";

interface Props {
  name: string;
  url: string;
}

const { name, url } = Astro.props;
---

<a href={url} title={`${name}'s site`} target="_blank">
  <Image
    src={`/buttons/${name}.png`}
    alt={`${name}'s button`}
    width={88}
    height={31}
  />
</a>

<style lang="scss">
img {
  image-rendering: pixelated;
}
</style>
