---
import Clock from "@components/Clock.svelte";
import Scrobble from "@components/Scrobble.svelte";

const routes = [
  { href: "/", text: "home" },
  { href: "/about", text: "about" },
  { href: "/contact", text: "contact" },
];
---

<header>
  <div id="header-buttons">
    <ul>
      {
        routes.map(({ href, text }) => (
          <li>
            <a
              href={href}
              class={`${
                (Astro.url.pathname.startsWith(href) && href !== "/")
                  || Astro.url.pathname === href
                  ? "selected"
                  : ""
              }`}
              id={Astro.url.pathname}
            >{text}</a>
          </li>
        ))
      }
    </ul>
  </div>

  <div id="header-song">
    <Scrobble client:load />
  </div>

  <div id="header-info">
    <span class="punct">&#123;&ensp;</span>
    <span class="key-primary">:time&ensp;</span>
    <Clock client:load />
    <span class="punct">&ensp;&#125;</span>
  </div>
</header>

<style lang="scss">
@use "sass:color";
@use "@styles/_thorns.scss";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: "Iosevka";
  font-size: 0.9rem;
  color: thorns.$fg0;
  background-color: color.adjust(thorns.$bg0, $alpha: -0.02);;
  margin: 10px 20px;

  height: 2rem;
}

#header-song {
  display: flex;
}

#header-info {
  display: flex;
  padding-right: 0.4rem;
}

@media (max-width: 500px) {
  #header-song, #header-info {
    display: none;
  }
}

ul {
  float: right;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

li {
  float: left;
}

a {
  display: block;
  color: thorns.$fg0;
  font-weight: bold;
  padding: 0 0.4rem;
  height: 2rem;
  line-height: 2.2;

  &:hover, &:focus {
    text-decoration: unset;
  }
}

.selected {
  background-color: thorns.$accent-purple;
  color: thorns.$bg0;
}

.punct {
  color: thorns.$fg1;
}

.key-primary {
  color: thorns.$accent-purple;
}

.key-secondary {
  color: thorns.$accent-pink;
}
</style>
