---
import Clock from "@components/Clock.svelte";
import Scrobble from "@components/Scrobble.svelte";

const routes = ["about", "contact"];

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<header>
  <div id="header-buttons">
    <ul>
      <li>
        <a href="/" class={`${title ? "" : "selected"}`}>home</a>
      </li>
      {
        routes.map(route => (
          <li>
            <a
              href={`/${route}`}
              class={`${title.substring(3) === route ? "selected" : ""}`}
            >{`${route}`}</a>
          </li>
        ))
      }
    </ul>
  </div>

  <div id="header-song">
    <Scrobble client:load />
  </div>

  <div id="header-info">
    <span class="punct">&#123;&ensp;</span>
    <span class="key-primary">:time&ensp;</span>
    <Clock client:load />
    <span class="punct">&ensp;&#125;</span>
  </div>
</header>

<style lang="scss">
@use "@styles/_thorns.scss";

header {
  display: flex;
  flex-direction: row;
  justify-content: left;

  font-family: "Iosevka";
  font-size: 0.9rem;
  color: thorns.$fg0;
  background-color: thorns.$bg0;
  margin: 10px 20px;

  height: 2rem;
}

#header-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#header-song {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#header-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-right: 0.4rem;
}

@media (max-width: 500px) {
  #header-info, #header-buttons {
    display: none;
  }
}

ul {
  float: right;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

li {
  float: left;
}

a {
  display: inline-block;
  color: thorns.$fg0;
  font-weight: bold;
  padding: 0 0.4rem;
  height: 2rem;
  line-height: 2.2;

  &:hover {
    text-decoration: unset;
  }
}

.selected {
  background-color: thorns.$accent-purple;
  color: thorns.$bg0;
}

.punct {
  color: #909090;
}

.key-primary {
  color: thorns.$accent-purple;
}

.key-secondary {
  color: thorns.$accent-pink;
}
</style>
