<span data-pronouns>/fɔːn/</span>

<script>
const pronouns: HTMLElement | null = document.querySelector("[data-pronouns]");

pronouns?.addEventListener(
  "click",
  () =>
    pronouns.innerText = pronouns?.innerText === "/fɔːn/"
      ? "(he/him)"
      : "/fɔːn/",
);
</script>

<style lang="scss">
@use "@styles/_thorns.scss";

span {
  color: thorns.$fg1;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;

  &:hover, &focus {
    opacity: 0.50;

    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
</style>
