---
import Layout from "@layouts/Page.astro";

const { title, description } = Astro.props.frontmatter;
---
<Layout title={`${title ? ` / ${title}` : ""}`}>
  <h1 id="title">{title}</h1>
  <p id="description">{description}</p>

  <slot />
</Layout>
